<% if @author.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited this author for being saved
    </h2>
    <ul>
        <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    </ul>
    <% end %>
</div>
<% end %>